body{

    height: 1500px;

}

.big_box{



    position: relative;

    left:100px;

    border:1px solid black;

    height:600px;

    width: 500px;

}

.box{

    border:1px solid black;

    height: 100px;

    width:100px;

}

#box1{

    background-color: red;

    position: relative;

    left:50px;

    top:100px;

    z-index:2;

 

}

#box2{

   background-color: blue;

  position: absolute;

  left:300px;

  top:400px;

 

}

#box3{

    position: fixed;

    top:0px;

    background-color: yellow;

}



#box4{

    position:sticky;

    background-color: green;

   top:20px;

   left:200px;

}



#box5{

    position: static;

    left:10px;

}
