*{

    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;

}

body {
    height:100vh;
    width: 450px;
    display: flex;
    align-items: center;
    background-size: cover;
    margin:50px;
    padding:20px;
    border: 8px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://images.shiksha.com/mediadata/images/articles/1579846258phpMdhl4a.jpeg");

}




#EDUCATION APPOINTEMENT FORM{
    text-align:center;
    border: 8px solid black;
    border-width: 25em;
    background-size: cover;
    
}

.register_form{
    /* border: 1px solid black; */
    height: 500px;
    width: 500px;
    border-radius:10px;
    border-width: 5px;
    background-size: cover;
    color:white;
    padding:20px;
    margin: 10px;
    border-color: 8px solid black;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;

}

.input field1{
    width: 300px;
    margin: 20px;
    display:block;
    display:flex;
    justify-content: center;
    text-align: right;
    border-bottom: 1px solid black;
}

.input field2{
    width: 300px;
    margin: 20px;
    display:block;
    display:flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;

}

.input field3{
    width: 300px;
    margin: 20px;
    display:block;
    display:flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;

}    


.input field4{
    width: 300px;
    margin: 20px;
    display:block;
    display:flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;

}

.selection_list{
    margin:10px;
    display:block;

}


h2{
    font-size: medium;
    margin: 15px;
    display:block;
}


.selection_item{
    width: 150px;
    margin: 15px;
    display: block;


}

.selection_elem{
    width: 150px;
    margin: 15px;
    display: block;
    

}


.context{
    margin: 20px;
    display:block;
}


.register_btn{
    width: 150px;
    margin: 20px;
    display:block;
    box-sizing: 50px;
}



.register_btn button:hover{
    background-color: rgb(88, 171, 88);
}